<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <!--FlatcPath-->
  <FlatcPath>F:\MMORPG\HH_ExcelFlatbufTool\TableTool</FlatcPath>
  
  <!--原始表格路径-->
  <SourceExcelPath>F:\MMORPG\ExcelData</SourceExcelPath>

  <!--客户端输出bytes文件路径-->
  <ClientOutBytesFilePath>F:\MMORPG\HH_Framework\Assets\Download\DataTable\</ClientOutBytesFilePath>
  <!--客户端输出c#文件路径-->
  <ClientOutCSharpFilePath>F:\MMORPG\HH_Framework\Assets\HHScripts\Data\DataTable\Create\</ClientOutCSharpFilePath>
  <!--客户端输出lua文件路径-->
  <ClientOutLuaFilePath>F:\MMORPG\HH_Framework\Assets\Download\xLuaLogic\DataNode\DataTable\Create\</ClientOutLuaFilePath>

  <!--服务器输出bytes文件路径-->
  <ServerOutBytesFilePath>F:\MMORPG\Server\Release\DataTable\</ServerOutBytesFilePath>
  <!--服务器输出c#文件路径-->
  <ServerOutCSharpFilePath>F:\MMORPG\Server\HHServer\HHServer.Common\DataTable\Create\</ServerOutCSharpFilePath>
  
  <SysTable>
    <!--系统表 会对系统表生成对应类-->
	<Item TableName="DTSys_Config">
		<ClientCSharpFilePath>F:\MMORPG\HH_Framework\Assets\HHScripts\Const\SysConfig.cs</ClientCSharpFilePath>
		<ClientLuaFilePath>F:\MMORPG\HH_Framework\Assets\Download\xLuaLogic\Common\SysConfig.bytes</ClientLuaFilePath>
		<ServerCSharpFilePath>F:\MMORPG\Server\HHServer\HHServer.Common\Const\SysConfig.cs</ServerCSharpFilePath>
	</Item>
    <Item TableName="DTSys_Code">
      <ClientCSharpFilePath>F:\MMORPG\HH_Framework\Assets\HHScripts\Const\SysCode.cs</ClientCSharpFilePath>
      <ClientLuaFilePath>F:\MMORPG\HH_Framework\Assets\Download\xLuaLogic\Common\SysCode.bytes</ClientLuaFilePath>
      <ServerCSharpFilePath>F:\MMORPG\Server\HHServer\HHServer.Common\Const\SysCode.cs</ServerCSharpFilePath>
    </Item>
    <Item TableName="DTSys_UIForm">
      <ClientCSharpFilePath>F:\MMORPG\HH_Framework\Assets\HHScripts\Const\UIFormId.cs</ClientCSharpFilePath>
      <ClientLuaFilePath>F:\MMORPG\HH_Framework\Assets\Download\xLuaLogic\Common\UIFormId.bytes</ClientLuaFilePath>
      <ServerCSharpFilePath></ServerCSharpFilePath>
    </Item>
    <Item TableName="DTSys_CommonEventId">
      <ClientCSharpFilePath>F:\MMORPG\HH_Framework\Assets\HHScripts\Const\CommonEventId.cs</ClientCSharpFilePath>
      <ClientLuaFilePath>F:\MMORPG\HH_Framework\Assets\Download\xLuaLogic\Common\CommonEventId.bytes</ClientLuaFilePath>
      <ServerCSharpFilePath></ServerCSharpFilePath>
    </Item>
	<Item TableName="DTSys_GameServerConfig">
      <ClientCSharpFilePath>F:\MMORPG\HH_Framework\Assets\HHScripts\Const\GameServerConfig.cs</ClientCSharpFilePath>
      <ClientLuaFilePath>F:\MMORPG\HH_Framework\Assets\Download\xLuaLogic\Common\GameServerConfig.bytes</ClientLuaFilePath>
      <ServerCSharpFilePath>F:\MMORPG\Server\HHServer\HHServer.Common\Const\GameServerConfig.cs</ServerCSharpFilePath>
    </Item>
  </SysTable>
	<CSharpTableList>
		<Item Name="DTSys_Audio" />
		<Item Name="DTSys_Code" />
		<Item Name="DTSys_Effect" />
		<Item Name="DTSys_Prefab" />
		<Item Name="DTSys_Scene" />
		<Item Name="DTSys_SceneDetail" />
		<Item Name="DTSys_StorySound" />
		<Item Name="DTSys_UIForm" />
		<Item Name="DTPVPSceneMonsterPoint" />
		<Item Name="DTJob" />
		<Item Name="DTJobLevel" />
		<Item Name="DTBaseRole" />
		<Item Name="DTRoleAnimation" />
		<Item Name="DTRoleAnimCategory" />
		<Item Name="DTSprite" />
		<Item Name="DTBattleAttr" />
		<Item Name="DTBuff" />
		<Item Name="DTSkill" />
		<Item Name="DTSkillLevel" />
		<Item Name="DTShop"/>
	</CSharpTableList>
	<LuaTableList>
		<!--LoadType 0=从lua文件读取 1=从c#已有数据加载-->
		<Item Name="DTJob" LoadType="1" />
		<Item Name="DTJobLevel" LoadType="1" />
		<Item Name="DTBattleAttr" LoadType="1" />
		<Item Name="DTBuff" LoadType="1" />
		<Item Name="DTSkill" LoadType="1" />
		<Item Name="DTSkillLevel" LoadType="1" />
		<Item Name="DTShop" LoadType="0" />
		<Item Name="DTShopCategory" LoadType="0" />
		<Item Name="DTEquip" LoadType="0" />
		<Item Name="DTItem" LoadType="0" />
		<Item Name="DTMaterials" LoadType="0" />
	</LuaTableList>
</Root>